@use 'assets/styles/main' as partials;

.filterContainer {
  box-shadow: 4px 3px 14px 0 #0000000a;
  padding: 16px;
  height: max-content;
}

.searchResultContainer {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 20px;
}

.filterSelectControl {
  border-radius: 20px !important;
  padding: 8px 16px !important;
}

.selectClass {
  max-width: 300px;
}

.noResultFoundContainer {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.inputPadding {
  padding: 6px 6px;
}