@use '@assets/styles/main' as partials;

.checkoutDetailContainer {
  width: 75%;

  .addressContainer {
    padding: 8px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 16px;
    background: partials.theme(primary-purple-light);
    border-radius: 6px;

    .leftAddressContainer {
      display: flex;
      gap: 16px;
      width: calc(100% - 247px);

      .address {
        width: 100%;
        overflow: hidden;
      }

      .wordNoBreak {
        white-space: nowrap;
      }
    }

    .rightAddressContainer {
      display: flex;
      align-items: center;
      gap: 12px;
      width: 231px;
    }
  }
}
