.loginContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .loginWrapper {
    width: 600px;
    padding: 24px 16px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #fff;
  }
}

.breadcrumbContainer {
  margin-left: 420px;
}
