@use '@assets/styles/main' as partials;

.navbar {
  width: 100%;
  padding-block: 12px;
  background: partials.theme(primary-purple-default);
  color: #fff;

  .layout {
    padding-inline: 0;
    width: 1440px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;

    .imageContainer {
      width: 90px;
      height: 100%;

      & > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .rightContainer {
      gap: 20px;

      .divider {
        color: #fff;
        transform: scaleY(1.8);
        font-weight: bolder;
      }

      .loginContainer {
        svg path {
          fill: #fff;
        }
      }

      .cartIcon {
        svg {
          width: 40px;
          height: 35px;
          polyline,
          circle,
          path {
            stroke: #fff;
          }
          circle {
            fill: #fff;
          }
        }
      }
    }
  }
}
