@use '@assets/styles/main' as partials;

.searchBarContainer {
  position: relative;
  max-width: 900px;
  width: 100%;

  .searchBarControl {
    width: 100%;
    border-radius: 16px;
    border: none;
    padding: 10px 16px;
    border-radius: 16px;
    caret-color: partials.theme(primary-purple-default);
    @include partials.BaseRegular;

    &::placeholder {
      color: partials.theme(silver-500);
    }
  }

  .endIconContainer {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    svg {
      path {
        fill: partials.theme(primary-purple-default);
      }
    }
  }
}
