@use '@assets/styles/vendors/bootstrap' as *;
@use '@assets/styles/vendors/toastify' as *;
@use '@assets/styles/main' as partials;

* {
  font-family: 'MST Font';
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-color: partials.theme(app-background);
  color: partials.theme(black);
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-na {
  cursor: not-allowed !important;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-line-through {
  text-decoration: line-through;
}

.word-no-break {
  word-break: normal;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.spinner-border {
  border: 0.25em solid partials.theme(primary-purple-default);
  border-right-color: transparent;
}

.text-ellipsis-lh-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
}

.text-ellipsis-lh-1 {
  @extend .text-ellipsis-lh-2;
  -webkit-line-clamp: 1;
}

.variantCard {
  border: 1px solid partials.theme(gray-500);
  border-radius: 4px;
  padding-inline: 4px;
  border: 1px solid partials.theme(primary-purple-default);
  box-shadow: 0px 4px 0px 0px partials.theme(primary-purple-light);
}
