@use '@assets/styles/vendors/bootstrap' as *;
@use '@assets/styles/vendors/toastify' as *;
@use '@assets/styles/main' as partials;

* {
  font-family: 'MST Font';
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  min-height: 100vh;
  width: 100%;
  background-color: partials.theme(app-background);
  color: partials.theme(black);
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-na {
  cursor: not-allowed !important;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-line-through {
  text-decoration: line-through;
}

.word-no-break {
  word-break: normal;
}
