@use 'assets/styles/main' as partials;

.outerWrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  height: auto;
  align-items: center;

  gap: 5%;
  width: 100%;
  border-bottom: 20;
  margin-bottom: 20px;
  padding: 10px 15px 15px 15px;
  border-radius: 5;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  .header {
    border-bottom: 1px solid partials.theme(gray-500);
    padding-bottom: 5px;
    grid-column: 1 / span 3;
  }

  .orderStatus {
    height: 25px;
    padding: 4px 12px;
    border-radius: 24px;
    width: 80px;
    text-align: center;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 10px 0 30px 0;
  gap: 20px;

  .productName {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .titleWrapper {
    display: flex;
    gap: 15px;
    align-items: center;
    width: 70%;
  }

  .cardWrapper {
    display: flex;
    gap: 10px;
    align-items: center;
  }
}
